body{
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    background-color: lightblue;
}
h1{
    font-size: 50px;
}
.blue-color{
    color:blue;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
    
}
.hulf-width{
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}
.hulf-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background:crimson;
    padding: 10px 15px;
    color: cornsilk;
    font-weight: 700;
    border-radius: 9px;
}
.top-banner{
     background-image: url(Frame\ 59.jpg);
     background-repeat: no-repeat;
     padding: 10px 15px;
    

}
.healthy-food{
    background-image: url(Frame\ 57.png.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.food-area{
    text-align: center;
    background-color: lightgray;

}
.food-item{
    
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgb(160, 88, 88);
    font-weight: 800;

    
}
footer{
    text-align: center;
    background-color: rgb(188, 255, 80);
    }
    .img-area1{
        background-image: url(picture2.png);
        background-repeat: no-repeat;
        size: 20px;
    }
    .img-area2{
        background-image: url(pitute1.png);
        background-repeat: no-repeat;
        size: 20px;
    }
    .img-area3{
    background-image: url(Project\ Cover8.png);
    background-repeat: no-repeat;
    size: 20px;
    }